
<div class="container">
<h2>Aceso privado</h2>
Datos de acceso
<ul>
  <li>Usuario: admin</li>
  <li>Password: admin</li>
</ul>



<div class="row login-div justify-content-md-center">
  
  <div class="col-xl-5 col-lg-5 col-md-6 col-sm-10 col-12 login">
      <h3><b>Administración</b></h3>
      <p>Por favor introduzca su usuario y contraseña</p>
      <form [formGroup]="formulario" (ngSubmit)="sumitar()">
        <p [hidden]="logueo" class="text-danger" >
          {{mensaje}}
        </p>
          <div class="form-group">
            <label for="nombre"> Nombre:</label>
           
            <input type="text" formControlName="nombre" class="form-control" value="admin" name="nombre" placeholder="Entre 3 y 50 caracteres">
            <!-- <small *ngIf="formulario.controls.nombre.invalid" class="text-danger">Errores de validacion minimi 2 caracteres maximo 50</small>
            <small *ngIf="formulario.controls.nombre.valid" class="text-info"><b>Correcto</b></small> -->
          
        </div>
        <div class="form-group">
          <label for="nombre"> Contraseña:</label>
         
          <input type="text" formControlName="password" class="form-control" value="12345678" name="password" placeholder="Entre 3 y 50 caracteres">
          <!-- <small *ngIf="formulario.controls.nombre.invalid" class="text-danger">Errores de validacion minimi 2 caracteres maximo 50</small>
          <small *ngIf="formulario.controls.nombre.valid" class="text-info"><b>Correcto</b></small> -->
        
        </div>
        <input type="submit" value="entrar"  ><!--[disbled]="formulario.status === VALID"-->
        </form>
  </div>
</div>

</div>
